@@ -0,0 +1,27 @@
# # Ignore all by default to reduce build context as much as possible
*

# Python requirements installed in the docker
!uv.lock

# To install winnow
!pyproject.toml

# To use the repository as a package
!README.md

# To run the linters in the CI job
!.pre-commit-config.yaml

# To run the tests
!tests
!winnow

# To run scripts
!scripts

# To run Make commands
!Makefile

# To parse the number of GPUs
!manifest.yaml

# To run experiments and analyses
!configs
!new_configs
!fasta
