.venv

.vscode

__pycache__

*.egg-info

docs_public

*.txt
*.csv
*.parquet
*.ipc
*.pkl
*.json
*.yaml

examples/winnow-general-model
examples/winnow-ms-datasets
examples/output

build/

# Coverage reports
htmlcov/
.coverage
coverage.xml
pytest.xml
