.venv

.vscode

__pycache__

*.egg-info

docs_public

*.txt
*.csv
*.parquet
*.ipc
*.pkl
*.json
*.yaml
*.fasta
*.mztab
*.mgf
*.png
*.pdf

*.ipynb

examples/winnow-general-model
examples/winnow-ms-datasets
examples/output

build/

.coverage
