# --- Residues configuration ---

# This is Winnow's internal residue representation.
# We use this to calculate the mass error feature and during database-grounded FDR control.
# We also use this to initialise the residue set for the Metrics class.
residue_masses:
  "G": 57.021464
  "A": 71.037114
  "S": 87.032028
  "P": 97.052764
  "V": 99.068414
  "T": 101.047670
  "C": 103.009185
  "L": 113.084064
  "I": 113.084064
  "N": 114.042927
  "D": 115.026943
  "Q": 128.058578
  "K": 128.094963
  "E": 129.042593
  "M": 131.040485
  "H": 137.058912
  "F": 147.068414
  "R": 156.101111
  "Y": 163.063329
  "W": 186.079313
  # Modifications
  "M[UNIMOD:35]": 147.035400 # Oxidation
  "C[UNIMOD:4]": 160.030649 # Carboxyamidomethylation
  "N[UNIMOD:7]": 115.026943 # Deamidation
  "Q[UNIMOD:7]": 129.042594 # Deamidation
  "R[UNIMOD:7]": 157.085127 # Arginine citrullination
  "P[UNIMOD:35]": 113.047679 # Proline hydroxylation
  "S[UNIMOD:21]": 166.998028 # Phosphorylation + 79.966
  "T[UNIMOD:21]": 181.01367 # Phosphorylation + 79.966
  "Y[UNIMOD:21]": 243.029329 # Phosphorylation + 79.966
  "C[UNIMOD:312]": 222.013284  # Cysteinylation
  "E[UNIMOD:27]": 111.032028  # Glu -> pyro-Glu
  "Q[UNIMOD:28]": 111.032029  # Gln -> pyro-Gln
  # Terminal modifications
  "[UNIMOD:1]": 42.010565 # Acetylation
  "[UNIMOD:5]": 43.005814 # Carbamylation
  "[UNIMOD:385]": -17.026549 # NH3 loss
  "(+25.98)": 25.980265  # Carbamylation & NH3 loss (legacy notation)

# Residues unsupported by the configured Koina models.
# These residues must be specified using UNIMOD PTM IDs.
# Please check that all PTMs unsupported by your selected Koina models but supported by Winnow are included.
unsupported_residues:
  # Residue modifications (amino acid + modification)
  # - "N[UNIMOD:7]"   # Deamidated asparagine
  # - "Q[UNIMOD:7]"   # Deamidated glutamine
  # - "R[UNIMOD:7]"   # Arginine citrullination
  # - "P[UNIMOD:35]"  # Proline hydroxylation
  # - "S[UNIMOD:21]"  # Phosphorylated serine
  # - "T[UNIMOD:21]"  # Phosphorylated threonine
  # - "Y[UNIMOD:21]"  # Phosphorylated tyrosine
  # - "C[UNIMOD:312]"  # Cysteinylation
  # - "E[UNIMOD:27]"  # Pyro-glutamine
  # - "Q[UNIMOD:28]"  # Pyro-glutamine
  # N-terminal modifications (standalone tokens)
  # - "[UNIMOD:1]"    # N-terminal acetylation
  - "[UNIMOD:5]"    # N-terminal carbamylation
  - "[UNIMOD:385]"  # N-terminal ammonia loss
  - "(+25.98)"      # Carbamylation & NH3 loss (legacy notation)
  # Unsupported residues
  # - "C"  # Unmodified cysteine (must be explicitly carbamidomethylated for some Koina models)
